* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.lattice {
  /* fill: red; */
  width: 40%;
  /* height: 100%; */
  border: 2px solid black;
  /* background-color: black; */
}
.hex {
  transition: all ease-in-out 350ms;
}
.hex:hover {
  /* fill: goldenrod; */
}
.hex:active {
  fill: gold;
}

.selected-hex {
  stroke: rgba(255, 215, 0, 0.5);
}

text::selection {
  background: none;
}
text {
  cursor: default;
  text-transform: uppercase;
}

.letter-input:focus {
  /* border: 3px solid red; */
  outline: none;
}
